aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiohttp-retry==2.9.1
aiosignal==1.3.1
amqp==5.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.2.post1
appdirs==1.4.4
asgiref==3.8.1
asyncssh==2.18.0
async-timeout==4.0.3
atpublic==5.0
attrs==24.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
billiard==4.2.1
black==24.10.0
Brotli==1.0.9
build==0.10.0
build==1.2.2.post1
CacheControl==0.12.11
CacheControl==0.14.1
cachetools==5.5.0
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.3.2
charset-normalizer==3.4.0
chromadb==0.5.18
chroma-hnswlib==0.7.6
ci-info==0.3.0
cleo==2.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coloredlogs==15.0.1
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.1
crashtest==0.4.1
cryptography==43.0.3
cycler==0.12.1
dataclasses-json==0.6.7
Deprecated==1.2.14
dictdiffer==0.9.0
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distlib==0.3.9
distro==1.9.0
docker-pycreds==0.4.0
dpath==2.2.0
dulwich==0.21.3
dulwich==0.21.7
durationpy==0.9
dvc==3.56.0
dvc-data==3.16.7
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.40.2
entrypoints==0.4
etelemetry==0.3.1
exceptiongroup==1.2.2
fastapi==0.115.4
fastjsonschema==2.20.0
filelock==3.13.1
filelock==3.16.1
fitz==0.0.1.dev2
flatbuffers==24.3.25
flatten-dict==0.4.2
flufl.lock==8.1.0
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.10.0
fsspec==2024.6.1
funcy==2.0
get_project_root==0.2
gitdb==4.0.11
GitPython==3.1.43
gmpy2==2.1.2
googleapis-common-protos==1.65.0
google-auth==2.36.0
grandalf==0.8
greenlet==3.1.1
grpcio==1.67.1
gto==1.7.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
hydra-core==1.3.2
identify==2.6.2
idna==3.10
idna==3.7
importlib-metadata==7.0.1
importlib_resources==6.4.5
installer==0.6.0
installer==0.7.0
isodate==0.6.1
iterative-telemetry==0.0.9
jaraco.classes==3.2.1
Jinja2==3.1.4
jiter==0.7.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
keyring==23.13.1
keyring==24.3.1
kiwisolver==1.4.7
kombu==5.4.2
kubernetes==31.0.0
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-text-splitters==0.3.2
langsmith==0.1.139
llama-cloud==0.1.4
llama-index==0.11.21
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.22
llama-index-embeddings-huggingface==0.3.1
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.4.0
llama-index-legacy==0.9.48.post3
llama-index-llms-ollama==0.3.4
llama-index-llms-openai==0.2.16
llama-index-multi-modal-llms-openai==0.2.3
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-index-vector-stores-chroma==0.3.0
llama-parse==0.5.13
lockfile==0.12.2
looseversion==1.3.0
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.2
mdurl==0.1.2
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
mmh3==5.0.1
monotonic==1.6
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.1.0
mypy==1.13.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.0
nltk==3.9.1
nodeenv==1.9.1
numpy==2.1.3
oauthlib==3.2.2
ollama==0.3.3
omegaconf==2.3.0
onnxruntime==1.20.0
openai==1.54.1
opentelemetry-api==1.28.0
opentelemetry-exporter-otlp-proto-common==1.28.0
opentelemetry-exporter-otlp-proto-grpc==1.28.0
opentelemetry-instrumentation==0.49b0
opentelemetry-instrumentation-asgi==0.49b0
opentelemetry-instrumentation-fastapi==0.49b0
opentelemetry-proto==1.28.0
opentelemetry-sdk==1.28.0
opentelemetry-semantic-conventions==0.49b0
opentelemetry-util-http==0.49b0
orjson==3.10.11
overrides==7.7.0
packaging==24.1
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
pathspec==0.12.1
pexpect==4.8.0
pillow==11.0.0
pip==24.2
pkginfo==1.11.2
platformdirs==2.5.2
platformdirs==4.3.6
poetry==1.4.0
poetry-core==1.5.1
poetry-core==1.9.1
poetry-plugin-export==1.3.0
poetry-plugin-export==1.8.0
posthog==3.7.0
pre_commit==4.0.1
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.3
prov==2.0.1
psutil==6.1.0
ptyprocess==0.7.0
puremagic==1.28
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
pydantic==2.9.2
pydantic_core==2.23.4
pydantic-settings==2.6.1
pydot==3.0.2
pygit2==1.16.0
Pygments==2.18.0
pygtrie==2.5.0
pyOpenSSL==24.2.1
pyparsing==3.2.0
pypdf==4.3.1
PyPika==0.48.9
pyproject_hooks==1.0.0
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.17
pytz==2024.2
pywin32==308
pywin32-ctypes==0.2.2
pyxnat==1.6.2
PyYAML==6.0.2
rapidfuzz==3.5.2
rdflib==6.3.2
redis==5.2.0
referencing==0.30.2
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==0.9.1
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
scmrepo==3.3.8
semver==3.0.2
sentence-transformers==3.2.1
sentry-sdk==2.19.0
setproctitle==1.3.4
setuptools==75.1.0
shellingham==1.5.0
shortuuid==1.0.13
shtab==1.7.1
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.35
sqltrie==0.11.1
starlette==0.41.2
striprtf==0.0.26
sympy==1.13.1
sympy==1.13.2
tabulate==0.9.0
tenacity==8.5.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.20.3
tomli==2.0.1
tomli==2.1.0
tomlkit==0.13.2
torch==2.3.1
torch==2.5.1
torchaudio==2.3.1
torchvision==0.18.1a0
torchvision==0.20.1
tqdm==4.66.6
traits==6.4.3
transformers==4.46.2
trove-classifiers==2024.10.18
typer==0.12.5
typing_extensions==4.11.0
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2024.2
urllib3==1.26.19
uvicorn==0.32.0
vine==5.1.0
virtualenv==20.16.2
virtualenv==20.27.1
voluptuous==0.15.2
wandb==0.18.7
watchfiles==0.24.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==13.1
websocket-client==1.8.0
wheel==0.44.0
win-inet-pton==1.1.0
wrapt==1.16.0
yarl==1.17.1
zc.lockfile==3.0.post1
zipp==3.20.2
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.1
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.43.0
zipp==3.19.2
