alabaster==1.0.0
alembic==1.14.0
attrs==24.2.0
autowoe==1.3.2
babel==2.16.0
black==24.10.0
Bottleneck==1.4.2
Brotli==1.0.9
build==0.10.0
CacheControl==0.12.11
catboost==1.2.7
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.3.2
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
cmaes==0.11.1
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.1
crashtest==0.4.1
cryptography==43.0.3
cycler==0.12.1
distlib==0.3.9
docker-pycreds==0.4.0
docutils==0.21.2
dulwich==0.21.3
einops==0.8.0
exceptiongroup==1.2.2
filelock==3.13.1
filelock==3.16.1
fonttools==4.55.0
fsspec==2024.10.0
gensim==4.3.3
gitdb==4.0.11
GitPython==3.1.43
gmpy2==2.1.2
graphviz==0.20.3
greenlet==3.1.1
holidays==0.61
html5lib==1.1
huggingface-hub==0.26.3
identify==2.6.3
idna==3.10
idna==3.7
imagesize==1.4.1
importlib-metadata==7.0.1
iniconfig==2.0.0
installer==0.6.0
jaraco.classes==3.2.1
Jinja2==3.1.4
joblib==1.2.0
json2html==1.3.0
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
keyring==23.13.1
kiwisolver==1.4.7
lightautoml==0.3.8.1
lightgbm==3.2.1
lockfile==0.12.2
Mako==1.3.6
MarkupSafe==3.0.2
matplotlib==3.9.3
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.3
mypy==1.13.0
mypy-extensions==1.0.0
networkx==3.3
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numexpr==2.10.1
numpy==2.1.3
optuna==4.1.0
packaging==24.2
pandas==1.5.3
pathspec==0.12.1
patsy==1.0.1
pexpect==4.8.0
pillow==11.0.0
pip==24.2
pkginfo==1.11.2
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
poetry==1.4.0
poetry-core==1.5.1
poetry-plugin-export==1.3.0
pre_commit==4.0.1
protobuf==5.28.3
psutil==6.1.0
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.18.0
pyOpenSSL==24.2.1
pyparsing==3.2.0
pyproject_hooks==1.0.0
PySocks==1.7.1
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.2
rapidfuzz==3.5.2
referencing==0.30.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==0.9.1
rpds-py==0.10.6
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
sentry-sdk==2.19.0
setproctitle==1.3.4
setuptools==75.6.0
shellingham==1.5.0
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
snowballstemmer==2.2.0
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinx-rtd-theme==3.0.2
SQLAlchemy==2.0.36
statsmodels==0.14.0
StrEnum==0.4.15
sympy==1.13.1
sympy==1.13.2
tenacity==9.0.0
threadpoolctl==3.5.0
tokenizers==0.20.3
tomli==2.1.0
tomlkit==0.13.2
torch==2.5.1
torch==2.5.1
torchaudio==2.5.1
torchsummary==1.5.1
torchvision==0.20.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.46.3
trove-classifiers==2024.10.18
typing_extensions==4.11.0
typing_extensions==4.12.2
tzdata==2023.3
urllib3==1.26.20
virtualenv==20.28.0
wandb==0.18.7
webencodings==0.5.1
wheel==0.44.0
win-inet-pton==1.1.0
wrapt==1.17.0
zipp==3.20.2
